@media(max-width: 960px) {
    .showcase {
        height: 70vh;
    }
    .hide-sm {
        display: none;
    }
.showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
}
.showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
}
.showcase-content p {
    font-size: 1.5rem;
}
.large {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.text-lg {
    font-size: 1rem;
}
.text-md {
    font-size: 0.9rem;
}
.footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
}
}

@media(max-width: 700px) {
.showcase::after {
        box-shadow: inset 80px 80px 250px #000, inset -80px -80px 250px #000;    
    }
#tab-1-content .tab-1-content-inner{
    grid-template-columns: 1fr;
}
#tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
}
#tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
}

}

